[Unit]
Description=Starts the OSM docker container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop overv/openstreetmap-tile-server
ExecStartPre=-/usr/bin/docker rm overv/openstreetmap-tile-server
ExecStart=/usr/bin/docker run --rm --name %n docker run -p 8080:80 -v osm-data:/data/database -d overv/openstreetmap-tile-server run

[Install]
Wantedby=multi-user.target
